:root {
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul,
body {
	margin: 0;
}

ol[role="list"],
ul[role="list"] {
	list-style: none;
	padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
	font-size: inherit;
	font-weight: inherit;
}

img {
	display: block;
	max-inline-size: 100%;
}

@import url("https://fonts.googleapis.com/css2?family=Funnel+Sans:wght@300..800&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
	font-family: "Merriweather Sans", sans-serif;
	font-weight: 350;
}

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	overflow: hidden;
}

#content {
	background-color: #ffffff;
	flex-grow: 1;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 20px;
	gap: 30px;
	align-items: center;
	flex-direction: column;
}

.table {
	display: grid;
	grid-template-columns: 1fr 1fr 2fr;
	grid-template-rows: 50px 1fr;
	width: 100%;
	max-width: 1500px;
	flex-grow: 1;
}

h1 {
	text-align: center;
	font-size: 1.3rem;
	font-weight: 600;
	margin: 5px;
}

#lv1List,
#lv2List,
#lv3List {
	background-color: #d5c28b;
	padding: 3px;
	margin: 5px;
	border-radius: 5px;
	overflow-y: scroll;
	max-height: 80vh;
}

/* From https://codepen.io/stephenpaton-tech/full/JjRvGmY */
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
	scrollbar-width: auto;
	scrollbar-color: #c1ad77 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 16px;
}

*::-webkit-scrollbar-track {
	background: #ffffff;
}

*::-webkit-scrollbar-thumb {
	background-color: #c1ad77;
	border-radius: 10px;
	border: 3px solid #ffffff;
}

header,
footer {
	background-color: #c1ad77;
	padding: 5px;
	width: 100%;
	text-align: center;
}

.lvlTitle {
	font-size: 1.2rem;
	font-weight: bold;
	text-align: center;
	padding: 5px;
	font-weight: 700;
}

.listing {
	padding: 7px;
	margin: 5px;
	background-color: #fff8e1;
	border: solid 2px black;
	border-radius: 5px;
}

.mainInfo {
	display: flex;
	justify-content: space-between;
}

.extraInfo {
	margin-top: 5px;
	padding-top: 5px;
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.extraInfo > div {
	margin-right: 15px;
	flex-grow: 1;
	border: 1px solid black;
	background-color: white;
	opacity: 0.9;
	max-width: 500px;
	padding: 2px;
	font-size: 0.8em;
}

.extraInfo > p {
	opacity: 0.9;
	padding: 2px;
	border-radius: 5px;
	font-size: 0.8em;
}

.index {
	margin-left: 10px;
	font-size: 0.7rem;
	display: flex;
	align-items: center;
}

.addListing {
	padding: 5px;
	margin: 5px;
	border: dotted 4px #93b93b;
	border-radius: 10px;
	text-align: center;
	cursor: pointer;
	background-color: #c2ec8b;
}

.description {
	font-size: 0.9rem;
}

.icons {
	visibility: hidden;
	display: flex;
	gap: 10px;
	margin-left: auto;
}

.listing:hover .icons {
	visibility: visible;
	cursor: pointer;
}

#basicMenu,
#advMenu {
	padding: 30px;
}

dialog > h2 {
	font-weight: 500;
	font-size: 1.1rem;
	text-align: center;
	background-color: #c1ad77;
}

#basicMenuForm,
#advMenuForm {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 10px;
	padding: 10px;
}

/*and cancel form*/
#basicSubmit,
#basicEdit,
#advSubmit,
#advEdit {
	grid-column: span 2;
	padding: 5px 20px;
	background-color: #c2ec8b;
	border: solid 4px #93b93b;
	border-radius: 10px;
}

.index {
	background-color: #f8de9b;
	border: 4px solid #c2ab6d;
	border-radius: 3px;
	cursor: pointer;
}

.selected {
	background-color: #eadbab;
}

.done {
	text-decoration: line-through;
}

.notStarted {
	background-color: #6fb0d6;
	border: 3px solid rgb(59, 111, 206);
}

.inProgress {
	background-color: rgb(255, 175, 208);
	border: 3px solid rgb(201, 70, 114);
}

.draftCompleted {
	background-color: rgb(238, 174, 100);
	border: 3px solid rgb(148, 100, 61);
}

.reviewed {
	background-color: rgb(255, 148, 255);
	border: 3px solid rgb(131, 61, 148);
}

.sentBack {
	background-color: rgb(255, 92, 92);
	border: 3px solid rgb(121, 36, 36);
}

.approved {
	background-color: rgb(156, 218, 106);
	border: 3px solid rgb(66, 145, 42);
}

.completed {
	background-color: rgb(255, 223, 83);
	border: 3px solid rgb(207, 150, 27);
}

.settings {
	background-color: #c1ad77;
	padding: 5px;
	width: 100%;
	text-align: center;
}
